
@{
    ViewData["Title"] = "CanadaGay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="canadagaybody">

    <h2 id="ca1g">Canada no longer black & white</h2>
    <h1 id="ca2g">come and visit</h1>
    <p class="canadadotted">Nicht nur Canada steht weit oben - dies hier auch ... ;-)</p>
    <p id="canadagay">Um es gleich voraus zu nehmen: Kanada ist das schneereichste Land der Welt. Global gesehen macht Schnee etwa 5% des gesamten Niederschlags der Welt aus. In Kanada sind es 36%.</p>
    <p class="canadaTF"> In den Prairie-Provinzen ist die Schneeschmelze mit 80% lebenswichtig fuer die Stroeme und die “sloughs”, die Nistplaetze der Wasservoegel. In Saskatchewan sind es 80 bis 85%, mit Schneefall von bis zu 48% des jaehrlichen Niederschlags.</p>
    <p class="canadaTF">Die Gletscher der “Western Cordillera” (der korrekte Name der Kuestenberge und der Rocky Mountains) haben insofern einen Einfluss auf das kanadische Wetter, indem sie den warmen, feuchten Pazifik-Winden den Schnee entlocken.</p>
    <p class="canadaTF">Dieser wird ueber viele Jahrtausende durch die jaehrlich hohen Schneefaelle zu Eis komprimiert. Gletscher haben ihr eigenes Mikro-Klima, aber der nun feuchtigkeitsarme “Down-Wind” fuehrt oft zu den “Chinooks” auf der Inland-Seite der Berge (siehe weiter unten).</p>
    <p class="canadaTF">Das Wetter ist eines der kompliziertesten Themen der Welt, und waehrend Regierungen Milliarden ueber Milliarden ausgeben, um das Wetter auf den verschiedenen Planeten zu erforschen, koennen die Wissenschaftler die Eigenheiten des irdischen Wetters noch immer nicht korrekt deuten oder vorhersagen.</p>
    <p class="canadaTF">In einem riesigen Land wie Kanada, mit seinen diversen Landschaften und geographischen sowie geologischen Unterschieden ist eine genaue regionale Wetter-Vorhersage eine theoretische Unmoeglichkeit mit einem nur etwa 50/50 Erfolg.</p>
    <p class="canadaTF"> Die sogenannten „Klima-Experten“ sind heute durchgehend politisch orientiert und Stipendien-hungrig oder eben nur an hohen Einkuenften fuer ihre Auftritte und Buecher interessiert. Im Fall des Klima-Propheten Al Gore faellt dieses sogar alles unter einen Hut. Dazu das folgende interessante Video:</p>

    <p class="canadadotted">&copy; das steht immer unten</p>









</div>


