@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Index</title>
    @*<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />*@
</head>
<body>
    
        <div class="text-center">
            <b></b>
            <div class="panel-heading text-center"><h3>ZSK Exchange v0.1</h3></div>
            <h1></h1><br />
            <h4>Ziege - Schaf - Kuh - EUR</h4><br />
            <img src="~/img/kuh.png" />
            <img src="~/img/schaf.png" />
            <img src="~/img/ziege.png" />
            <br /><br />
            <a class="btn btn-outline-dark" asp-action="zskrechner">Jetzt starten!</a>
        </div>

</body>
</html>