@model testmvc.Models.ZSKbag
@{
    ViewBag.Title = "ZSK";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="text-center" id="splash">
    <h4>ZSK Exchange v0.1</h4>
<br />
    <h4>Ziege - Schaf - Kuh - EUR</h4><br />
    <img src="~/img/kuh.png" />
    <img src="~/img/schaf.png" />
    <img src="~/img/ziege.png" />
    <br /><br />
    <a class="btn btn-outline-dark" @Html.ActionLink("Start ZSK", "zskrechner")></a>
</div>

